<div class="help">
  <h1 class="title"><%= t("help") %></h1>

  <p>
    <%= t("pastes.help.contact_with_us") %>:
    ask@southbridge.io /
    <a href="https://southbridge.io" target="_blank">www.southbridge.io</a>
  </p>

  <p><%= t("pastes.help.open_page") %></p>
  <p><%= t("pastes.help.open_page_raw") %></p>

  <p><%= t("pastes.help.create_method.title") %>:</p>

  <ul>
    <li><%= t("pastes.help.create_method.form") %></li>
    <li><%= t("pastes.help.create_method.text_post") %></li>
    <li><%= t("pastes.help.create_method.json_post") %></li>
  </ul>

  <div>
    <%= t("pastes.help.post_address") %>:
    <code><%= root_url %>/paste</code>
  </div>

  <p><%= t("pastes.help.available_params") %>:</p>

  <pre>
language: text|markdown
body: <%= t("pastes.help.text_length_limit") %> 512 kb
auto_destroy: true
ttl_days: 365
  </pre>

  <ul>
    <li>
      <strong>body</strong> - <%= t("pastes.help.required") %>. <%= t("pastes.help.max_text_limit") %> - 512 kb.
    </li>
    <li>
      <strong>language</strong> <%= t("pastes.help.one_of_x_values") %>
      <code>text</code> <%= t("pastes.help.or") %> <code>markdown</code>. <%= t("pastes.help.default_language") %> <code>(text)</code>.
    </li>
    <li>
      <strong>auto_destroy</strong> <%= t("pastes.help.auto_destroy") %>
    </li>
    <li>
      <strong>ttl_days</strong> <%= t("pastes.help.ttl_days") %>
    </li>
  </ul>

  <br>

  <h2 class="title"><%= t("pastes.help.text_examples") %></h2>

  <p><%= t("pastes.help.short_text") %>:</p>

  <pre>curl -d "language=text" -d "body=short text message" "<%= root_url %>/paste"</pre>
  <pre>curl -d "language=text" -d "body=short text message" -d "ttl_days=17" "<%= root_url %>/paste"</pre>
  <pre>curl -d "language=markdown" -d "body=**Markdown** _text_ message" "<%= root_url %>/paste"</pre>
  <pre>curl -d "auto_destroy=true" -d "language=markdown" -d "body=**Markdown** _text_ message" "<%= root_url %>/paste"</pre>

  <br>

  <h3 class="title"><%= t("pastes.help.file_sending") %></h3>
  <p><%= t("pastes.help.long_text") %>:</p>

  <pre>curl -H "Content-Type: text/plain" --data-binary "@file_name" "<%= paste_file_url(language: "markdown") %>"</pre>

  <p><strong><%= t("pastes.help.long_text_cut") %></strong></p>

  <p><%= t("pastes.help.ttl_days_example") %>: paste_file_path</p>

  <pre>curl -H "Content-Type: text/plain" --data-binary "@file_name" <%= paste_file_url(language: "markdown", ttl_days: 7) %></pre>

  <p><%= t("pastes.help.auto_destroy_example") %>:</p>

  <pre>curl -H "Content-Type: text/plain" --data-binary "@file_name" <%= paste_file_url(language: "markdown", auto_destroy: true) %></pre>

  <br>

  <h2 class="title"><%= t("pastes.help.json_request") %></h2>
  <pre>
curl -v -H "Accept: application/json" -H "Content-type: application/json" -X POST \
  -d '{"language":"text","body":"text"}' "<%= root_url %>/paste"
  </pre>

  <br><br><br>
</div>
